.node {
  width: 25px;
  height: 25px;
  outline: 1px solid rgba(0, 190, 218, 0.75);
  display: inline-block;
  margin: 2px;
}

.node-start {
  background-color: rgb(59, 192, 59);
  cursor: pointer;
}
.node-finish {
  background-color: rgb(53, 53, 53);
  cursor: pointer;
}

.node-figure {
  border: 1px solid rgba(0, 190, 218, 0.75);
  border-radius: 100%;
  z-index: 1;
  height: 90%;
  width: 90%;
}

.node-wall {
  background-color: rgb(1, 1, 105);
  border-color: rgb(1, 1, 105);
  outline-color: rgb(1, 1, 105);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-outter-visted {
  outline: none;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: #ed944d;
    border-color: #ed944d;
    outline-color: #ed944d;
  }

  50% {
    transform: scale(1.2);
    background-color: #ed944d;
    border-color: #ed944d;
    outline-color: #ed944d;
  }

  100% {
    transform: scale(1);
    background-color: #ed944d;
    border-color: #ed944d;
    outline-color: #ed944d;
  }
}
